[Unit]
Conflicts=systemd-timesyncd.service openntpd.service
Description=Chrony Time Daemon
After=gpsd.service

[Service]
User=root
ExecStart=/usr/local/sbin/chronyd -d -m -r
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
