[Unit]
Description=Chrony Time Daemon

[Service]
User=root
ExecStart=/usr/local/sbin/chronyd -d -m -s -r
KillMode=process
Restart=on-failure
After=gpsd.service

[Install]
WantedBy=multi-user.target
