[Unit]
After=gpsd.service
Conflicts=systemd-timesyncd.service openntpd.service
Description=Chrony Time Daemon

[Service]
User=root
ExecStart=/usr/local/sbin/chronyd -d -m -s -r
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
