[Unit]
Description=GPS daemon
Requires=dev-ttyS0.device

[Service]
User=root
ExecStart=/usr/local/sbin/gpsd -N -n -F /var/run/gpsd.sock /dev/ttyAMA0
Restart=on-failure

[Install]
WantedBy=multi-user.target
