[Unit]
Description=GPS daemon

[Service]
User=root
EnvironmentFile=/etc/default/gpsd
ExecStart=/usr/local/sbin/gpsd $GPSD_OPTIONS $OPTIONS $DEVICES
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
