[Unit]
Description=Start websocket proxy service

[Service]
User=octoprint
ExecStart=/usr/bin/libcamera-vid -t 0 --width 1920 --height 1080 --codec h264 --inline --listen -o tcp://0.0.0.0:8001 --hflip --vflip

[Install]
WantedBy=multi-user.target
