[Unit]
Description=Start websocket proxy service

[Service]
Type=exec
User=octoprint
ExecStart=/usr/bin/websockify 0.0.0.0:8000 0.0.0.0:8001

[Install]
WantedBy=multi-user.target
